[Unit]
Description = SOTA Twitter Bot Server

[Service]
ExecStart = /home/ubuntu/sotaapp/backend/venv/bin/python3 /home/ubuntu/sotaapp/backend/SLIPPER/watchAlerts.py
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target
